*.pyc
services/sessions
services-new/sessions
start-dev.sh
env
*.sublime-*
*.bak
*.iml
*.ipr
*.ids
*.iws
.idea/

.project
.metadata
local.properties
.classpath
.settings/
.loadpath


target/

.gradle
build/

*.log*
/bin/

.springBeans

.vagrant/
node_modules/
