<div class="body-content">
<div class="jumbotron">
    <h1>Backbone/Spring Security/LDAP</h1>
    <p>
    This app provides functions for user management and login using backbone.js 
    &amp; Java Spring Seucrity using LDAP. It is intended to work as a quickstart 
    for other applications.
    </p>
    <p>
    UI adopted from the
    <a href="https://github.com/cccarey/backbone-webpy-openid">backbone-webpy-openid</a>
    project.
    </p>
    <p>
    Services adopted from the 
    <a href="https://github.com/cccarey/backbone-spring-social">backbone-spring-social</a>
    project.
    </p>
    <div class="col-lg-4">
        <p>
            <a class="btn btn-block" id="login">
                Login
            </a>
		</p>
    </div>
    <p><a href="app" id="enter" style="display:none">Enter</a></p>
</div>
</div>